In [46]:
import pandas as pd
import numpy as np

In [47]:
df=pd.read_csv('covid_toy.csv')

In [48]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [51]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [52]:
df['cough'].unique()

array(['Mild', 'Strong'], dtype=object)

In [53]:
transformers=ColumnTransformer([
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OneHotEncoder(drop='first',sparse_output=False),['gender','city']),
    ('tnf3',OrdinalEncoder(categories=[['Mild','Strong']]),['cough'])
],remainder='passthrough')

In [54]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=.20,random_state=42)

In [55]:
x_train.shape

(80, 5)

In [56]:
x_test.shape

(20, 5)

In [57]:
y_train.shape

(80,)

In [58]:
y_test.shape

(20,)

In [59]:
x_train=transformers.fit_transform(x_train)
x_test=transformers.fit_transform(x_test)

In [61]:
x_train.shape

(80, 7)

In [62]:
x_test.shape

(20, 7)