In this technique has a cons when the model going into the production so it can generate a random value for 
a column corresponding to the same value in another column .

so you have to make sure that the random number generate for the same value is always same.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [4]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Age       714 non-null    float64
 2   Fare      891 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 21.0 KB

In [7]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [8]:
df.isnull().mean()*100

Survived     0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [9]:
df['imputed_age']=df['Age']

In [10]:
df.head()

   Survived   Age     Fare  imputed_age
0         0  22.0   7.2500         22.0
1         1  38.0  71.2833         38.0
2         1  26.0   7.9250         26.0
3         1  35.0  53.1000         35.0
4         0  35.0   8.0500         35.0

In [12]:
# imputing the random value in imputed_age column

In [13]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=.2)

In [17]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(712, 3)
(179, 3)
(712,)
(179,)

In [19]:
df['Age'].dropna().sample(df['Age'].isnull().sum()).values

array([34.  , 18.  , 39.  , 21.  , 38.  , 44.  ,  2.  , 17.  , 25.  ,
       33.  , 39.  , 35.  , 28.  , 31.  , 39.  , 24.  , 36.  , 19.  ,
       36.  , 65.  , 35.  , 43.  , 37.  , 18.  ,  5.  , 22.  , 60.  ,
       28.  , 30.  , 44.  ,  0.83, 16.  , 45.  , 38.  , 38.  , 61.  ,
       49.  , 23.  , 19.  , 40.5 , 37.  , 30.  , 20.  , 27.  , 23.  ,
       54.  , 22.  , 20.  , 13.  , 31.  ,  6.  , 28.  , 25.  , 25.  ,
       14.  , 33.  , 29.  , 35.  ,  4.  , 40.  , 28.  , 16.  , 28.  ,
       37.  , 27.  , 23.5 , 47.  , 31.  , 24.  , 14.  ,  0.42,  2.  ,
       40.  , 20.  , 36.  , 35.  , 31.  , 22.  , 60.  , 17.  , 52.  ,
       62.  , 33.  , 38.  , 18.  , 22.  , 19.  , 27.  , 16.  , 34.  ,
       18.  , 26.  , 20.  , 18.  , 34.  , 32.  ,  1.  , 26.  , 26.  ,
       22.  , 48.  , 51.  , 20.  , 36.  ,  9.  , 33.  , 15.  , 54.  ,
       42.  , 17.  , 28.  ,  0.83, 42.  , 30.  , 29.  , 24.  , 15.  ,
       19.  , 42.  , 17.  , 50.  , 52.  , 32.  , 35.  , 21.  , 22.  ,
       25.  , 37.  , 24.5 , 24.  , 24.  , 36.  , 20.  , 35.  , 24.  ,
       40.  , 33.  , 19.  , 25.  , 25.  , 39.  , 38.  ,  1.  ,  4.  ,
        4.  , 24.  ,  7.  , 38.  , 19.  , 35.  , 23.  , 21.  , 29.  ,
       26.  ,  2.  , 39.  , 11.  ,  8.  , 16.  ,  8.  , 31.  , 35.  ,
       28.  , 26.  , 31.  , 34.  , 21.  , 18.  , 58.  , 26.  , 44.  ,
       65.  , 39.  , 35.  , 42.  , 25.  , 29.  ])

In [24]:
# df['imputed_age'][df['imputed_age'].isnull().sum()]=df['Age'].dropna().sample(df['Age'].isnull().sum()).values
# df['imputed_age'][df['imputed_age'].isnull().sum()]=df['Age'].dropna().sample(df['imputed_age'].isnull().sum()).values