In [25]:
import pandas as pd
import numpy as np

In [26]:
dfone=pd.read_csv('messages.csv')
dftwo=pd.read_csv('orders.csv')

In [27]:
dfone.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [28]:
dftwo.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [29]:
dfone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [30]:
dfone['date']=pd.to_datetime(dfone['date'])

In [31]:
dfone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

extracting year

In [32]:
dfone['year']=dfone['date'].dt.year

In [33]:
dfone.head()

                 date                                                msg  year
0 2013-12-15 00:50:00                           ищу на сегодня мужика 37  2013
1 2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826  2014
2 2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576  2012
3 2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...  2014
4 2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше  2013

extracting month

In [34]:
dfone['month']=dfone['date'].dt.month

In [35]:
dfone['month_name']=dfone['date'].dt.month_name()

extracting date

In [36]:
dfone['dfone_date']=dfone['date'].dt.day

In [37]:
dfone.head()

,date,msg,year,month,month_name,dfone_date
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,2013,12,December,15
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,2014,4,April,29
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,2012,12,December,30
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,2014,11,November,28
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,2013,10,October,26

extracting day of the weak

In [45]:
dfone['day']=dfone['date'].dt.day_name()

In [46]:
dfone.head()

,date,msg,year,month,month_name,dfone_date,day,is_weekend
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,2013,12,December,15,Sunday,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,2014,4,April,29,Tuesday,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,2012,12,December,30,Sunday,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,2014,11,November,28,Friday,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,2013,10,October,26,Saturday,0

is weekend

In [47]:
dfone['is_weekend']=np.where(dfone['day'].isin(['saturday','sunday']),1,0)

In [48]:
dfone.head()

,date,msg,year,month,month_name,dfone_date,day,is_weekend
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,2013,12,December,15,Sunday,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,2014,4,April,29,Tuesday,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,2012,12,December,30,Sunday,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,2014,11,November,28,Friday,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,2013,10,October,26,Saturday,0

extracting week of the year

In [50]:
# dfone['week_of_the_year']=dfone['date'].dt.week